*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h2{
  
    display: flex;
    align-items: center;
}

button{
    background: red;
    font-size: 18px;
    color: white;
    margin-left: auto;
}

